.form__input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form__label {
  font-weight: bold;
  margin-right: 1rem;
}

.form__item {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 1.2rem;
}