.form {
  text-align: right;
}

.form__button {
  font: inherit;
  cursor: pointer;
  background-color: #009e4f;
  border: 1px solid #009e4f;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form__button:hover,
.form__button:active {
  background-color: #197446;
  border-color: #197446;
}