.card {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.card__wrapper {
  display: flex;
}

.card__title {
  margin: 0 0 0.25rem 0;
}

.card__description {
  font-style: italic;
}

.card__price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

.card__image {
  width: 80px;
  height: 90px;
  margin-right: 20px;
}